.ipynb_checkpoints/
__pycache__/
*.pyc
.env
.vscode/
data/
logs/
models/
outputs/
*.log
.DS_Store
anjay/
embedding/
facenet512_saved_model_TFTRT_FP16/
saved_model/
retinaface_saved_model_TFTRT_FP16/
.Trash-0/
cuda-kerying_1.1-1_all.deb
libnvinfer-plugin8_8.6.1.6-1+cuda11.8_amd64.deb
libnvinfer8_8.6.1.6-1+cuda11.8_amd64.deb
libnvinfer-vc-plugin8_8.6.1.6-1+cuda11.8_amd64.deb
libnvonnxparsers8_8.6.1.6-1+cuda11.8_amd64.deb
libnvparsers8_8.6.1.6-1+cuda11.8_amd64.deb
nv-tensorrt-local-repo-ubuntu2204-10.13.2-cuda-12.9_1.0-1_amd64.deb
python3-libnvinfer_8.6.1.6-1+cuda11.8_amd64.deb
retinafacelib/retinaface.h5